<!-- <app-hello *ngFor="let n of listNames" [displayName] = "n"></app-hello>
<app-hello [displayName] = "myName"></app-hello> -->
<div *ngIf="listNames.length <= 0">
  No Names To Print
</div>
<h2 >{{displayText}}</h2>
<app-display (ToDisplay)="pleaseDisplay($event)"></app-display>
<div style="margin-bottom: 30px;">
  <button type="button" *ngFor="let n of listNames" (click)="nameSelected(n)">
    {{n}}
  </button>
</div>
<app-hello [displayName] = "toDisplay" (toPrint)="pleasePrint($event)"></app-hello>
<div [style.background-color] = "myBgColor">Test</div>
<textarea (mouseenter)="mouseEnter($event)"></textarea>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr *ngFor="let l of listNames; let i = index;"
      [ngClass]="{'grey-background': (i % 2) }">{{l}}
  </tr>
</table>
